.index {
    padding: 20px;
}
h2 {
    font-size: 20px;
    line-height: 40px;
}
.item {
    padding: 18px 0;
    cursor: pointer;
    h3 {
        font-size: 18px;
        line-height: 30px;
    }
    .button {
        float: right;
    }
    .time {
        padding: 10px 0;
        display: inline-block;
        font-size: 12px;
        color: #666;
    }
}

.box-card {
    width: 480px;
}
